<div class="container">
  <h1 class="text-center mt-4">COLONIAS FELINAS</h1>
  <div id="colonias-container">
    {{#each colonias}}
    <div class="colonia-card" data-id="{{id}}">
        <img src="{{imagenColonia}}" alt="Imagen de {{nombre}}"
          onerror="this.src='/img/default.jpg'; this.onerror=null;">
        <h2 class="mt-3">{{nombre}}</h2>
        <p>{{descripcion}}</p><br>
        <p>{{ubicacion}}</p>
        <span class="estado {{estado}}">{{estado}}</span>      
    </div>
    {{/each}}
  </div>
  <div class="mt-4 d-flex justify-content-center gap-3">
    <a href="/" class="btn btn-outline-primary shadow">Volver al menú principal</a>
  </div>
  
  
  
</div>

<script src="/js/colonias.js"></script>