<div class="container text-center border border-1 border-dark rounded p-3 mt-4 shadow p-3 mb-3 bg-white rounded w-80">
  <h1 class="text-center mt-3">{{detalleColonia.nombre}}</h1>
  <div class="colonia-info mt-4 mb-5 d-flex justify-content-around">
    
    <div class="text-start">
      <p><strong>Descripción:</strong> {{detalleColonia.descripcion}}</p>
      <p><strong>Ubicación:</strong> {{detalleColonia.ubicacion}}</p>
      <p><strong>Tamaño:</strong> {{detalleColonia.tamano}}</p>
      <p><strong>Teléfono:</strong> {{detalleColonia.telefono}}</p>
      <p><strong>Móvil:</strong> {{detalleColonia.movil}}</p>
    </div>
    <div>
      <img src="{{detalleColonia.imagenColonia}}" alt="Imagen de {{detalleColonia.nombre}}"
        onerror="this.src='/img/default.jpg'; this.onerror=null;" class="img-fluid rounded mb-3"
        style="max-width: 300px;">
    </div>

  </div>


  <h2 class="text-center mb-4">Gatos de esta colonia</h2>

  <div id="gatos-container" class="row justify-content-center">
    {{#if gatos.length}}
    {{#each gatos}}
    <div class="card m-3 p-2 shadow" style="width: 18rem;">
      <img src="{{imagenGato}}" class="card-img-top" alt="Imagen de gato"
        onerror="this.src='/img/default.jpg'; this.onerror=null;">
      <div class="card-body">
        <h5 class="card-title">{{raza}}</h5>
        <p class="card-text">
          <strong>Color:</strong> {{colores}}<br>
          <strong>Sexo:</strong> {{sexo}}<br>
          <strong>Pelaje:</strong> {{pelaje}}<br>
          <strong>Tamaño:</strong> {{tamano}}<br>
          <strong>Salud:</strong> {{salud}}<br>
          <strong>Edad:</strong> {{edadAproximada}}<br>
          <strong>Motivo entrada:</strong> {{motivoEntrada}}
        </p>
      </div>
    </div>
    {{/each}}
    {{else}}
    <p class="text-center">No hay gatos en esta colonia.</p>
    {{/if}}
  </div>
</div>


{{{css}}}