<h1>{{title}}</h1>
<div>
  <h2>{{detalleGato.nombre}}</h2>
  <p><strong>Salud:</strong> {{detalleGato.salud}}</p>
  <p><strong>CER:</strong> {{detalleGato.cer}}</p>
  <p><strong>Descripción:</strong> {{detalleGato.descripcion}}</p>
  
</div>


{{{css}}} 