<div class="container">
  <h1 class="text-center mt-4">Gatos de la Colonia</h1>

  <div id="gatos-container" class="row justify-content-center">
    {{#if gatos.length}}
      {{#each gatos}}
        <div class="card m-3 p-2 shadow" style="width: 18rem;">
          <img src="{{imagenGato}}" class="card-img-top" alt="Imagen de gato"
               onerror="this.src='/img/default-gato.jpg'; this.onerror=null;">
          <div class="card-body">
            <h5 class="card-title">{{raza}}</h5>
            <p class="card-text">
              <strong>Color:</strong> {{colores}}<br>
              <strong>Sexo:</strong> {{sexo}}<br>
              <strong>Pelaje:</strong> {{pelaje}}<br>
              <strong>Tamaño:</strong> {{tamano}}<br>
              <strong>Salud:</strong> {{salud}}<br>
              <strong>Edad:</strong> {{edadAproximada}} año{{#unless edadAproximada '1'}}s{{/unless}}<br>
              <strong>Motivo entrada:</strong> {{motivoEntrada}}
            </p>
          </div>
        </div>
      {{/each}}
    {{else}}
      <p class="text-center">No hay gatos en esta colonia.</p>
    {{/if}}
  </div>
</div>

{{!-- Cargar el CSS de gatos --}}
{{{css}}}